body
{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: rgb(153, 153, 153);
}
h1, p{
    color: rgb(0, 0, 0);
    text-align: center;
    ;
}

img{
    height: 125px;
    background: rgb(238, 0, 0);
  

}
