body
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    backgrounsd: rgb(12, 12, 12);
    width: 150px;
}
.container{
    background-color: rgb(153, 153, 153);
    ;

}
h1, p{
    color: rgb(0, 0, 0);
    text-align: center;
    ;
}


